doctype html
html(lang="en")
    head
        title osu!roomie
        meta(charset="UTF-8")
        meta(name="author" content="Abricot Soinou")
        meta(name="description" content="Tool to manage osu! rooms")
        meta(name="keywords" content="osu,osu!,room,rooms")
        link(rel="stylesheet" media="screen" href="/static/css/lib.css")

    body
        #root
        #scripts
            script(src="/static/js/lib.js")
            script(src="/static/js/bundle.js")
